py crash course/10 Files and Exceptions/exercises/favourite_number2.json
py crash course/10 Files and Exceptions/exercises/favouriteNumber2.json
py crash course/08 functions/__pycache__/printingFunctions.cpython-311.pyc
*.pyc